{% extends 'store/main.html' %}
{% load static %}
{% block content %}

    

    <div class="d-flex justify-content-end my-2 my-lg-0">
        {% if messages %}
        <div class="px-4">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}

        <form class="form-inline" method="GET" action="{% url 'search' %}">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q">
            <button class="btn btn-outline-success my-2 my-sm-0 btn-custom-color2" type="submit">Search</button>
        </form>
    </div>


    <div class="row">
        {% for product in products %}
        <div class="col-lg-4">
            <img class="thumbnail" src="{{product.image.url}}">
            <div class="box-element product">
                <h6><strong>{{product.name}}</strong></h6>
                <hr>

                <button data-product={{product.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart btn-custom-color2">Add to Cart</button>
                <a class="btn btn-outline-success btn-custom-color" href="{% url 'product_detail' product_id=product.id %}">View</a>
                <h4 style="display: inline-block"><strong>€{{product.price|floatformat:2}}</strong></h4>
                
                <a href="{% url 'addToWishlist' product.id %}">
                    <img id="cart-icon" src="{% static 'images/emptyHeart.png' %}">
                </a>

            </div>
        </div>
        {% endfor %}
        
    </div>

    
    <br>
    <br>
    <br>
    <br>

{% endblock content %}
